@model IEnumerable<Proj1.Data.Store>

@{
    ViewData["Title"] = "Index";
}

<h1>Stores</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StoreID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StoreID">Details</a> |
                <a asp-action="StoreOrderHist" asp-route-id="@item.StoreID">Orders</a> |
                <a asp-action="InventoryOfStore" asp-route-id="@item.StoreID">Inventories</a>|
                <a asp-action="Customers" asp-route-id="@item.StoreID">Customers</a>
            </td>
        </tr>
}
    </tbody>
</table>
